<main>

    <div class="row gy-6">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #1242</h5>
                    <p class="text-bg-secondary">Usb хаб Туре С12</p>
                    <a href="summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>
        <section class="col-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Summary</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Skils page</a>
                </li>
            </ul>
        </section>
        <section class="col-9">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivam</td>
                        <td>35</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This cinten of uor box</div>
                    <button class="btn btn-light">Click</button>
                    <div class="card-header text-center">Footer</div>
                </div>
            </div>
        </section>
        <section class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This cinten of uor box</div>
                    <button class="btn btn-light">Click</button>
                    <div class="card-header text-center">Footer</div>
                </div>
            </div>
        </section>
        <section class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>This cinten of uor box</div>
                    <button class="btn btn-light">Click</button>
                    <div class="card-header text-center">Footer</div>
                </div>
            </div>
        </section>


    </div>

    {{!-- <div>
        <div class="card text-bg-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product #1242</h5>
                <p class="text-bg-secondary">Usb хаб Туре С12</p>
                <a href="summary" class="btn btn-primary">Open</a>
            </div>
        </div>

        <br>
        <br>
        <br>

        <ul class="list-group">
            <li class="list-group-item">
                <ul class="List-group">
                    <li class="list-group-item">Item 1.1</li>
                    <li class="list-group-item">Item 1.2
                </ul>
            </li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3
            <li>
        </ul>


        <div class="card text-bg-primary">
            <div class="card-header">
                <div>Menu</div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Summary</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Skils page</a>
                </li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-dark">Update list</button>

            </div>
        </div>
        <br>
        <br>
        <h5>Menu</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Summary</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skils page</a>
            </li>
        </ul>

        <br>
        <br>


        <ul class="list-group">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3
            <li>
        </ul>
        <br>
        <br>
        <br>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        #id
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        age
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jhon</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ivam</td>
                    <td>35</td>
                </tr>
            </tbody>
        </table>

        <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <div>This cinten of uor box</div>
                <button class="btn btn-light">Click</button>
                <div class="card-header text-center">Footer</div>
            </div>
        </div>

        <br>
        <br>

        <div class="row gx-5 gy-1">
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <div>This cinten of uor box</div>
                        <button class="btn btn-light">Click</button>
                        <div class="card-header text-center">Footer</div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <div>This cinten of uor box</div>
                        <button class="btn btn-light">Click</button>
                        <div class="card-header text-center">Footer</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <div>This cinten of uor box</div>
                        <button class="btn btn-light">Click</button>
                        <div class="card-header text-center">Footer</div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <div>This cinten of uor box</div>
                        <button class="btn btn-light">Click</button>
                        <div class="card-header text-center">Footer</div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">This is title</h6>
                        <div>This cinten of uor box</div>
                        <button class="btn btn-light">Click</button>
                        <div class="card-header text-center">Footer</div>
                    </div>
                </div>

            </div>

        </div> --}}
</main>