<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">bag cap drinck</h3>

    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-5">Second</div>
    <div class="display-6">bag</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст </span>
    </div>
    <hr>
    <br>
    <button class="btn btn-success">
        <span class="text-uppercase">Button primary</span>
        <h1>Test</h1>
    </button>


    <button class="btn btn-link">
        <span class="text-uppercase">Button primary</span>
        <h1>Test</h1>
    </button>

    <a href="#" class="btn btn-link">
        Button primary
    </a>
    <br>
    <br>
    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <p class="text-info">My text</p>
    <p class="text-muted">My text</p>
    <p class="text-danger">My text</p>

    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary"> Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
            <button class="btn btn-outline-danger btn-lg">Видалити</button>
            <button class="btn btn-outline-danger btn-sm">Видалити</button>
        </div>
    </div>
    <br>



    <div class="card">
        <div class="card-body">
            this text
        </div>
    </div>

</main>