<div class="row">
    <div class="col-3 mb-2">
        <div class="card text-bg-dark">
            <div class="card-body ">
                <div class="card-header">
                    <span class="badge text-bg-success rounded-pill text-capitalize">

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>