<p>
    <span class="badge text-bg-warning rounded-pill text-capitalize">{{#if isHot}}
        HOT{{/if}}</span>
    <span class="badge text-bg-primary rounded-pill text-capitalize">{{#if idNew}}
        New{{/if}}</span>
</p>